<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Uhired</title>
    <meta name="Uhired" content="An attempt to get a job by making a job portal">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      .job-tab {
        cursor: pointer;
        transition: transform 0.2s ease, background-color 0.2s ease;
      }

      .job-tab:hover {
        background-color: #f8f9fa;
        transform: scale(1.02);
      }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container-md container-fluid">
      <div class="d-flex flex-wrap justify-content-center py-3 mb-3 border-bottom">
        <h1 class = "display-2">Uhired</h1>
      </div>
      <div class="text-center py-4 mb-3">
        <h2 class="display-5 fw-bold ">Unhired? to Uhired!</h2>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">To simplify the overwhelming job search process by providing a minimalistic yet informative platform tailored to your needs and eventually to get <b>"Uhired"</b>.</p>
        </div>
      </div>
      <div class="mx-auto">
        <h2 class="display-6 mb-3">Openings!</h2>
        <div class="d-flex flex-column">
          {% for job in jobs_list %}
            {% include 'jobs.html'%}
          {% endfor %}
        </div>
      </div>
      <div class="my-3 py-3 d-flex flex-column">
        <h2 class="display-6 mb-3">About Uhired</h2>
        
        <p class="lead mb-4 text-justify">Hi there, I am Vimal Kumar K J - a software developer who is actively searching for jobs. While doing so, I realized that job portals often overcomplicate things with seemingly simple UI/UX. This inspired me to create Uhired, a minimalistic yet highly functional job portal designed to simplify the job search process.<br/> My goal with Uhired is to provide a platform that's easy to navigate while offering all the essential information job seekers need without overwhelming them. Whether you're a fresher or an experienced professional, Uhired is here to make your job hunt smoother and more effective.Let's work together to help you get UHIRED!</p>
      </div>
      <div class="d-flex flex-column my-3 py-3 justify-content-center align-items-center">
        <h3 class="display-6 mb-3">Would love to get in touch with you!</h3>
        <button class="btn btn-outline-dark">Contact Us</button>
      </div>
    </div>
  </body>
  <footer class="container container-fluid">
    <p>Copyright ©️2025</p>
  </footer>
</html>


